NET "Debug[10]" LOC = A19;
NET "Debug[9]" LOC = A18;
NET "Debug[8]" LOC = B18;
NET "Debug[7]" LOC = A20;
NET "Debug[6]" LOC = C19;
NET "Debug[5]" LOC = B20;
NET "Debug[4]" LOC = D19;
NET "Debug[3]" LOC = C18;
NET "Debug[2]" LOC = D17;
NET "Debug[1]" LOC = D18;
NET "Debug[10]" FAST;
NET "Debug[9]" FAST;
NET "Debug[8]" FAST;
NET "Debug[7]" FAST;
NET "Debug[6]" FAST;
NET "Debug[5]" FAST;
NET "Debug[4]" FAST;
NET "Debug[3]" FAST;
NET "Debug[2]" FAST;
NET "Debug[1]" FAST;

NET "DQ[15]" LOC = K4;
NET "DQ[14]" LOC = L1;
NET "DQ[13]" LOC = K3;
NET "DQ[12]" LOC = K2;
NET "DQ[11]" LOC = K1;
NET "DQ[10]" LOC = J1;
NET "DQ[9]" LOC = J3;
NET "DQ[8]" LOC = H1;
NET "DQ[7]" LOC = H2;
NET "DQ[6]" LOC = H3;
NET "DQ[5]" LOC = G3;
NET "DQ[4]" LOC = G1;
NET "DQ[3]" LOC = F2;
NET "DQ[2]" LOC = F1;
NET "DQ[1]" LOC = E3;
NET "DQ[0]" LOC = E1;

NET "DQ[15]" FAST;
NET "DQ[14]" FAST;
NET "DQ[13]" FAST;
NET "DQ[12]" FAST;
NET "DQ[11]" FAST;
NET "DQ[10]" FAST;
NET "DQ[9]" FAST;
NET "DQ[8]" FAST;
NET "DQ[7]" FAST;
NET "DQ[6]" FAST;
NET "DQ[5]" FAST;
NET "DQ[4]" FAST;
NET "DQ[3]" FAST;
NET "DQ[2]" FAST;
NET "DQ[1]" FAST;
NET "DQ[0]" FAST;

NET "ZEthA[8]" LOC = R3;
NET "ZEthA[7]" LOC = N3;
NET "ZEthA[6]" LOC = R1;
NET "ZEthA[5]" LOC = T1;
NET "ZEthA[4]" LOC = T2;
NET "ZEthA[3]" LOC = L3;
NET "ZEthA[2]" LOC = L6;
NET "ZEthA[1]" LOC = U1;
NET "ZEthA[0]" LOC = V1;

NET "ZEthA[8]" FAST;
NET "ZEthA[7]" FAST;
NET "ZEthA[6]" FAST;
NET "ZEthA[5]" FAST;
NET "ZEthA[4]" FAST;
NET "ZEthA[3]" FAST;
NET "ZEthA[2]" FAST;
NET "ZEthA[1]" FAST;
NET "ZEthA[0]" FAST;

NET "ZEthCS" LOC = M1;
NET "ZEthWE" LOC = M2;
NET "ZEthClk" LOC = U3;
NET "ZEthBE[1]" LOC = W1;
NET "ZEthBE[0]" LOC = N1;
NET "ZEthEOF[1]" LOC = P2;
NET "ZEthEOF[0]" LOC = V2;
NET "ZEthLen" LOC = P1;

NET "ZEthCS" FAST;
NET "ZEthWE" FAST;
NET "ZEthClk" FAST;
NET "ZEthBE[1]" FAST;
NET "ZEthBE[0]" FAST;

NET "ClkB_P" LOC = P3;
TIMESPEC TS_ClkB_P = PERIOD "ClkB_P" 9.4 ns HIGH 50%;
NET "ClkB_P" TNM_NET = "ClkB_P";


NET "CpldCS" LOC = W15;
NET "CpldRst" LOC = AB4;
NET "CpldRst" PULLUP = TRUE;
NET "uCRd" LOC = Y20;
NET "uCWr" LOC = R7;
